---
import Assignment from "../../components/Assignment.astro";
import type { MarkdownInstance } from 'astro';
interface Frontmatter {
    title: string;
    dueDate: string;
}


let exams = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./midterm*.mdx", { eager: true }));
exams.push(...Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./final*.mdx", { eager: true })));

---

{exams.map(exam => <Assignment title={exam.frontmatter.title!} dueDate={null} link={exam.url!} />)}
{exams.length == 0 ? <p>No exam solutions are available yet-check back later!</p> : null}
