---
import type { GetStaticPaths } from "astro";

export const links: any = {
    'form': 'http://google.com',
    'laform': 'http://tinyurl.com/la-feedback-w25',
    'zoom': 'https://ucla.zoom.us/j/97726470833?pwd=G1qgVbT89oVLIp2MVXYeFYaX47TgOY.1',
    'dns-helper': 'https://docs.google.com/presentation/d/1wgKD2hjoM7pK_vFq5bnqnSXN2ZoMYEnlIGLLtZBNbgo/edit',
    'midterm-helper': 'https://docs.google.com/document/d/1FdLvWieRsbY-vDJbIaXVnYzHLUvlVtfgw1AbEGUdSq0/edit',
    'activityform': 'https://docs.google.com/forms/d/1D62F1eqiyUFINV-40AipXPEaMJu6vgXhhvfMPImsqsA/edit',
    '1a': 'https://ucla.zoom.us/j/93017095175?pwd=HsNASbPTaoUZ1paEunBOzDtWJsO8O0.1',
    '1b': 'https://ucla.zoom.us/j/93465228767?pwd=gBwPRMF6K0YiTV4LE2SWjeBeD4Cr0b.1',
    '1c': 'https://ucla.zoom.us/j/96796668770?pwd=e9rdCmrbkXmLebgUJUDwrbEKoeW5WD.1',
    'oh': 'https://ucla.zoom.us/j/93763864925?pwd=tDjwOKqKDoecipz42OJHjKDJsTamh3.1'
}

export const getStaticPaths = (() => {
    return Object.keys(links).map(link => { return {params: {auto: link}}});
}) satisfies GetStaticPaths;

const { auto } = Astro.params;
---

<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="refresh" content=`0; url=${links[auto]}` />
        <script is:inline type="text/javascript">
            window.location.href = links[auto];
        </script>
        <title>Page Redirection</title>
    </head>
    <body>
        <!-- Note: don't tell people to `click` the link, just tell them that it is a link. -->
        If you are not redirected automatically, follow this <a
            href={links[auto]}>link to example</a
        >.
    </body>
</html>
