---
import Assignment from './Assignment.astro';
import type { MarkdownInstance } from 'astro';
interface Frontmatter {
    title: string;
}

const ctfSols = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("../pages/ctfs/sols*.mdx", { eager: true }));
---

{ctfSols.map(ctf => <Assignment title={ctf.frontmatter.title!} link={ctf.url!} dueDate={null} />)}
{ctfSols.length == 0 ? <p>No CTF challenge solutions are available yet—check back later!</p> : null}
