---
import Assignment from './Assignment.astro';
import type { MarkdownInstance } from 'astro';
interface Frontmatter {
    title: string;
}

const ctfs = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("../pages/ctfs/ctf*.mdx", { eager: true }));
const sorted = ctfs.sort((a, b) => a.frontmatter.title.localeCompare(b.frontmatter.title, undefined, { numeric: true, sensitivity: 'base' }));
---

{sorted.map(ctf => <Assignment title={ctf.frontmatter.title!} link={ctf.url!} dueDate={null} />)}
{sorted.length == 0 ? <p>No CTF challenges are available yet—check back later!</p> : null}
