---
import Assignment from "../../components/Assignment.astro";
import type { MarkdownInstance } from 'astro';
interface Frontmatter {
    title: string;
    dueDate: string;
}

const projects = Object.values(import.meta.glob<MarkdownInstance<Frontmatter>>("./project*.mdx", { eager: true }));
---

{projects.map(project => <Assignment title={project.frontmatter.title!} dueDate={project.frontmatter.dueDate!} link={project.url!} />)}
{projects.length == 0 ? <p>No projects are available yet-check back later!</p> : null}
