---
const { title, frontmatter } = Astro.props;

const pageTitle = title ? title : frontmatter.title;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="icon" type="image/png" href="/favicon.png" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="mask-icon" href="/favicon.ico" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
            rel="stylesheet"
        />
        <title>{pageTitle}</title>
    </head>
    <body>
        <div class="portal">
            <slot />
        </div>
    </body>
</html>

<style is:inline>
    :root {
        --bg: #ffffff;
        --fg: #202020;
        --acc: #2065d7;
        --alt: #888888;
    }

    html, body {
        margin: 0;
        padding: 2rem;
        color: var(--fg);
        background: var(--bg);
        font-family: "Lexend";
        min-height: 100vh;
    }

    .portal {
        max-width: 800px;
        margin: 0 auto;
    }

    h1, h2, h3 {
        font-weight: normal;
    }

    a {
        color: var(--acc);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    ul {
        font-weight: 300;
    }

    pre {
        padding: 1rem;
        border-radius: 1rem;
        white-space: pre-wrap;
        overflow-wrap: anywhere;
        word-break: break-word;
    }

    img {
        max-width: 100%;
        height: auto;
    }
</style>
